html,
body {
  height: 100%;
}

div,
span,
p {
  box-sizing: border-box;
}

table {
  width: 100%;
  line-height: 36px;
}

/* 滚动槽 */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #bfbfbf;
}
