@stylex stylesheet;

.sb-anchor .css-wzniqs {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.sb-anchor .css-1ofkq6d {
  float: none;
  line-height: inherit;
  padding-right: 10px;
  margin-left: 10px;
  color: inherit;
}
.sb-anchor .css-wzniqs svg {
  top: 0;
}

/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.06);
  /* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08); */
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.12);
  /* -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); */
}
